<header>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark' >
    <div class="container">
      <div class="navbar-brand">
        Bookers
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "\n                Home\n",user_path(current_user.id), class: "navbar-brand" %>
            </li>
            <li class="nav-item">
              <%= link_to "\n                Users\n", users_path, class: "navbar-brand" %>
            </li>
            <li class="nav-item">
              <%= link_to "\n                Books\n", books_path, class: "navbar-brand" %>

              </a>
            </li>
            <li class="nav-item">
              <%= link_to "\n                 logout\n", destroy_user_session_path, class: "navbar-brand", method: :delete %>

            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "\n                Home\n", root_path, class: "navbar-brand" %>
            </li>
            <li class="nav-item">
              <%= link_to "\n                About\n", about_path, class: "navbar-brand" %>
            <li class="nav-item">
              <%= link_to "\n                sign up\n", new_user_registration_path, class: "navbar-brand" %>
            </li>
            <li class="nav-item">
              <%= link_to "\n                login\n", new_user_session_path, class: "navbar-brand" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>